
#############################################################################
#############################################################################
# general

*.swp
*~

tags

##

*.orig
*.new

*.patch
*.off
old/

##

*.png
*.ico
*.xcf

#############################################################################
#############################################################################
# devel

doc.intl
doc_rst/
README.local.txt

local/
.gitmy/

bin.mg/

Makefile.my
README.md.*

my*
mypy*
mymg_*
mg_*
mypush*
mypull*

mydocker_*

test_*

mydiff_*
diff_skip*.list

fodcli

Dockerfile.blank*


#############################################################################
#############################################################################
# install / runtime /conf /db ...

runfod-*.sh
supervisord.conf

runfod.conf

systemd/fod-gunicorn.service
systemd/fod-celeryd.service
systemd/fod-status-email-user@.service

##

flowspy/settings.py
flowspy/settings.py.centos
flowspy/settings.py.docker.debian
flowspy/settings.py.docker.centos

#

example-data*
snmp_temp_data

##

staticfiles/

/static
static/rest_framework/

##

log
logs

*.log

##

*.pyc

pythonenv
venv
venv/

##

celerybeat-schedule
celerybeat-schedule.db

celery_var/
celeryd@*

dump.rdb*

#############################################################################
#############################################################################
## testing

.vs
Tests/Selenium/.vs

Tests/SeleniumJava/.metadata/*
Tests/SeleniumJava/FodSelenium/logs/log.txt
Tests/SeleniumJava/FodSelenium/logs/report.txt
Tests/SeleniumJava/FodSelenium/test-output/*

#############################################################################
#############################################################################

/.coverage

#############################################################################
#############################################################################

