
#############################################################################
#############################################################################

flowspy/settings.py
*.pyc
celerybeat-schedule
*.log
celery_var/
*~
celeryd@*
doc_rst/
static/rest_framework/

*.swp

##

*.orig
*.new

*.patch

tags

README.local.txt

#############################################################################
#############################################################################

doc.intl

#############################################################################
#############################################################################

bin.mg/

Makefile.my
README.md.*

my*
mypy*
mymg_*
mg_*
mypush*
mypull*

mydocker_*

mydiff_*
diff_skip*.list

fodcli

#############################################################################
#############################################################################

Dockerfile*

.vs
Tests/Selenium/.vs
