amqplib
argparse
cl
celery
django-admin
django-picklefield
django-registration
djangorestframework
django-tinymce
django-form-utils
django-settings-export
Django==2.1
gevent
greenlet
gunicorn
kombu
lxml
mailer
mysqlclient
ncclient
paramiko
pycrypto
pyparsing
python-dateutil
python-memcached
PyYAML
#wsgiref
six
requests
pysnmp
ply
ipaddress
idna
appdirs
anyjson
cryptography
redis

