<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1">
  <test thread-count="5" name="Test">
 	<classes>
      <class name="test.java.Tests.AddRuleTest"/>
      <class name="test.java.Tests.DashboardTest"/>
      <class name="test.java.Tests.LoginTest"/>
      <class name="test.java.Tests.LogoutTest"/>
      <class name="test.java.Tests.MyRulesTest"/>
      <class name="test.java.Tests.OverviewTest"/>
      <class name="test.java.Tests.ProfileTest"/>
      <class name="test.java.Tests.SetupTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

