setuptools<58
argparse
cl
celery==4.4.0
django-admin
django-picklefield==2.0
django-registration==3.0.1
djangorestframework==3.11.2
django-tinymce
django-form-utils
django-settings-export
Django==2.1.15
gevent
greenlet
gunicorn
kombu==4.6.11
lxml
mailer
mysqlclient
ncclient
paramiko
pycrypto
pyparsing
python-dateutil
python-memcached
PyYAML
#wsgiref
six
requests
pysnmp
ply
ipaddress
idna
appdirs
anyjson
cryptography
redis
pytest==6.2.5
pytest-django==4.4.0
intervaltree
