{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ settings.BRANDING.name }} FoD :: {% block title %}{% endblock %}</title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
	<link REL="SHORTCUT ICON" HREF="{% get_static_prefix %}/{{ settings.BRANDING.favicon }}">
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'b3theme/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'b3theme/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <script src="{% static 'js/validation.js' %}" rel="stylesheet"></script>

    {% block extrahead %}{% endblock %}

    <!-- SB Admin CSS - Include with every page -->
    <link href="{% static 'b3theme/css/sb-admin.css' %}" rel="stylesheet">
    {% block extraheadbottom %}{% endblock %}
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% get_static_prefix %}/{{ settings.BRANDING.logo }}">&nbsp;</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            	<li class="dropdown">
		           <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">{% trans "Documentation" %}<b class="caret"> </b></a>

				            <ul class="dropdown-menu">
				                <li>
					            <a class="unknown" target="_blank" href="/static/site/index.html">Documentation Main</a>
				            </li>
				            </ul>
               </li>
            	<li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">{% trans "Language" %}: {% for lang in settings.LANGUAGES %}{% ifequal settings.LANGUAGE_CODE lang.0 %}{% trans lang.1 %}{% endifequal %}{% endfor %}<b class="caret"></b></a>
				            <ul class="dropdown-menu">
						    <form action="/set_language/" method="post" style="display:inline;" id="langform">
												{% csrf_token %}
												<input name="next" type="hidden" value="{{ next }}" />
												<input id="langsel" name="language" type="hidden" value="" />
											</form>
				            	{% for lang in settings.LANGUAGES %}
				                <li>
				                    <a class="select_lang" href="#" onclick="setlang('{{ lang.0 }}'); return false;" title="{{lang.1}}">{% trans lang.1 %}{% ifequal settings.LANGUAGE_CODE lang.0 %}  <i class="icon-ok"></i>{% endifequal %}</a>
				                </li>
				              {% endfor %}
				            </ul>
				        </li>
                <!-- /.dropdown -->


				 {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw" id="user_icon_id"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user" role="menu" >
                    	<li role="presentation" class="dropdown-header">{{user}}</li>
                    	<li class="divider"></li>
                    {% if user.userprofile.peers.all %}
				        <li>
				            <a href="{% url 'user-profile' %}"><i class="fa fa-user fa-fw" id="my_profile_id"></i>{% trans "My profile" %}</a>
				        </li>
				    {% endif %}
				    	{% if user.is_superuser %}
						<li class="divider"></li>
                        <li><a href="{% url 'admin:index' %}"><i class="fa fa-cogs" id="user_icon_admin_id"></i> {% trans "Admin" %}</a>
                        </li>
						{% endif %}
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw" id="log_out_id"></i> {% trans "Logout" %}</a>
                        </li>

                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                {% else %}
					{% if settings.SHIB_LOGIN_ENABLED %}
				        <li><a href="{% url 'login' %}">{% trans "Shibboleth Login" %}</a></li>
					{% else %}
				        <li><a href="{% url 'altlogin' %}">{% trans "Local Login" %}</a></li>
				        {% endif %}
				        {% endif %}
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->
		{% block sidenav %}
        <nav class="navbar-default navbar-static-side" role="navigation">
        	{% if user.is_authenticated %}
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{% url 'dashboard' %}" id="navigation_dashboard_id"><i class="fa fa-dashboard fa-fw"></i> {% trans "Dashboard" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'group-routes' %}" id="navigation_rules_id"><i class="fa fa-shield fa-fw"></i> {% trans "Rules" %}</a>
                    </li>
                    <li>
                        <a href="{% url 'add-route' %}" id="navigation_add_rule_id"><i class="fa fa-plus-circle fa-fw"></i> {% trans "Add Rule" %}</a>
                    </li>
                    {% if perms.accounts.overview %}<li>
                            <a href="{% url 'overview' %}" id="navigation_overview_id"><i class="fa fa-desktop fa-fw"></i> {% trans "Overview" %}</a>
                        </li>{% endif %}
                    {% if user.is_superuser %}
                        <li><a href="{% url 'admin:index' %}" id="navigation_admin_id"><i class="fa fa-cogs fa-fw"></i> {% trans "Admin" %}</a>
                        </li>
						{% endif %}
                    {% if user.userprofile.peers.all %}
				        <li>
				            <a href="{% url 'user-profile' %}" id="navigation_user_profile_id"><i class="fa fa-user fa-fw"></i> {% trans "My profile" %}</a>
				        </li>
				    {% endif %}
                </ul>
                <!-- /#side-menu -->
            </div>
            {% endif %}
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->
		{% endblock %}
        <div id="page-wrapper">

        	{% if messages %}
        	        	<div class="row">
        		<div class="lg-col-12">
				<div id="messages">
				{% for message in messages %}
					<div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					{{ message }}</span><br />
				{% endfor %}
				</div>
								</div>
			</div>
		{% endif %}

        	{% block contentplaceholder %}
        	{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
	{% block footerblock %}
				{% include "footer.html" %}
			{% endblock %}
    <!-- Core Scripts - Include with every page -->
    <!--<script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>-->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.add/jquery_csrf_protect.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'b3theme/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'b3theme/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.add/jquery.cookie.js' %}"></script>

	{% block pagejs %}{% endblock %}

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{% static 'b3theme/js/sb-admin.js' %}"></script>
    <!-- Page-Level Scripts  - Use for reference -->
    {% block pagejsbottom %}{% endblock %}
    <script type="text/javascript">

  	function setlang(lang){
		$("#langsel").val(lang);
		$("#langform").submit();
	}

	$(document).ready(function() {
  $.ajaxSetup({ cache: false });
});

	</script>

</body>

</html>
